@media screen and (min-width: 800px) {    
    
    header {
        display: block;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 1rem;
    }

    picture {
        z-index: 0;
        position: absolute;
        inset: 0;
    }

    picture img {
        width: 100%;
        height: auto;
        opacity: 20%;
    }

    .services {
        display: flex;
        margin: 3rem 1rem 5rem 1rem;
    }

    footer div {
        display: flex;
    }
}