@media screen and (min-width: 800px) {    
    
    header {
        display: block;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 1rem;
    }

    .hero-img {
        z-index: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
        max-height: 910px;
        opacity: 20%;
        object-fit: cover;
    }

    .services {
        display: flex;
        margin: 3rem 1rem 5rem 1rem;
    }

    footer div {
        display: flex;
    }
}