:root {
    --primary-color: #592941;
    --secondary-color: #498467;
    --accent1-color: #52B788;
    --accent2-color: #B2D3A8;
    --accent3-color: #EDE5A6;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 800px;
}

header {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
    height: auto;
}

header img {
    max-width: 200px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

p {
    font-family: "Lato", sans-serif;
}

main {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr;
    position: relative;
}  

main h1, .services {
    position: relative;
    z-index: 1;
}

main h1 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin: 2rem 0;
    color: var(--primary-color);
}

.insert-data-form {
    z-index: 1;
    display: flex;
    justify-content: center;
}

#insert-data {
    width: auto;
    max-width: 400px;
    height: auto;
    padding: 1rem;
    background-color: var(--accent3-color);
    border-radius: 10px;
    z-index: 1;
    border: solid 3px var(--primary-color);
    margin: 0 1rem 2rem 1rem;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    text-align: center;
}

#insert-data h2 {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#insert-data label {
    display: block;
    font-family: "Lato", sans-serif;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#insert-data button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 44px;
    margin: 1rem 0 0.5rem;
    border-radius: 5px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

#insert-data button:hover {
    background-color: var(--accent2-color);
}

fieldset {
    border: none;
    margin-bottom: 0.5rem;
}

legend {
    font-family: "Lato", sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding-bottom: 0.3rem;
}

#sex-radio label, #activity-radio label, #purpose-radio label {
    margin-bottom: 0.5rem;
}

#insert-data input[type="radio"] {
    margin-right: 0.3rem;
}

#insert-data input[type="number"] {
    width: 100%;
    height: 44px;
    padding-left: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.services {
    gap: 2rem;
}

@media (max-width: 800px) {

    main h1 {
        margin: 1rem 0;
    }

    .insert-data {
        margin: 0 1rem 2rem 1rem;
    }

    .services {
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .services figure {
        display: block;
        margin-bottom: 1rem;
    }

    .hero-img {
        position: absolute;
        inset: 0;
        opacity: 20%;
        width: 100%;
        height: 1100px;
        object-fit: cover;
    }

    .meal-form {
        display: block;
        justify-content: center;
    }

    .meal-form button {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.services img {
    width: 220px;
    height: 150px;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
}

.services img {
    transition: transform 0.4s ease;
}

.services img:hover {
    transform: scale(1.05);
}

figcaption {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: var(--primary-color);
}

img[loading="lazy"] {
    animation: fade 10s;
}

footer {
	align-items: center;
    border-top: 2px solid var(--primary-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
}

footer p {
        margin: 1rem;
    }

footer a {
        margin-left: 1rem;
    }

.sociallinks {
    display: flex;
}

.sociallinks img {
    width: 50px;
    padding: 10px;
}

.sociallinks img {
    transition: transform 0.4s ease;
}

.sociallinks img:hover {
    transform: scale(1.2);
}

dialog {
    margin: auto;
    padding: 1rem;
    background-color: var(--accent2-color);
    border-radius: 10px;
    width: 600px;
}

dialog::backdrop {
    background-color: var(--accent3-color);
    opacity: 0.4;
}

.modal-title {
    display: flex;
    justify-content: space-between;
}

.modal-title button {
    width: 44px;
    height: 44px;
    background-color: var(--accent1-color);
    border-radius: 5px;
    cursor: pointer;
}

.modal-title button:hover {
    background-color: var(--secondary-color);
}

.modal-data {
    margin: 1rem auto;
}

.modal-data p {
    margin-top: 0.5rem;
}

#meal-form {
    display: none;
}

#routine-form {
    display: none;
}

#meal-form.show {
    display: block;
}

#routine-form.show {
    display: block;
}

#meal-form.show select, #meal-form button {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    background-color: var(--accent3-color);
}

#meal-form.show select {
    margin-right: 3rem;
    padding-left: 10px;
}

#meal-form.show button:hover {
    background-color: var(--secondary-color);
}

#meal-form.show button {
    cursor: pointer;
    margin-top: 1rem;
}

#routine-form.show select, #routine-form button {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    background-color: var(--accent3-color);
}

#routine-form.show select {
    margin-right: 3rem;
    padding-left: 10px;
}

#routine-form.show button:hover {
    background-color: var(--secondary-color);
}

#routine-form.show button {
    cursor: pointer;
    margin-top: 1rem;
}

/* Recipes page */

#recipesContainer h2 {
    display: flex;
    justify-content: center;
}

#recipesContainer img {
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#recipesContainer h3 {
    font-family: "Lato", sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

#recipesContainer p {
    margin-bottom: 1rem;
}

/* Routines page */

#routinesContainer {
    margin-bottom: 2rem;
}

#routinesContainer h2 {
    margin-top: 2rem;
}

#routinesContainer strong {
    color: var(--primary-color);
}

#routinesContainer p {
    text-align: justify;
}