:root {
    --primary-color: #592941;
    --secondary-color: #498467;
    --accent1-color: #52B788;
    --accent2-color: #B2D3A8;
    --accent3-color: #EDE5A6;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 800px;
}

header {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
    height: auto;
}

header img {
    max-width: 200px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

main {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr;
    position: relative;
}  

main h1, .services {
    position: relative;
    z-index: 1;
}

main h1 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin: 2rem 0;
    color: var(--primary-color);
}

.services {
    gap: 2rem;
}

@media (max-width: 800px) {

    main h1 {
        margin: 1rem 0;
    }

    .services {
        margin-bottom: 1rem;
    }

    .services figure {
        display: block;
    }

    .hero-img {
        position: absolute;
        inset: 0;
        opacity: 20%;
        width: 100%;
        height: 720px;
        object-fit: cover;
    }
}

.services img {
    width: 220px;
    height: 150px;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
}

.services figure {
    margin-bottom: 2rem;
}

.services img {
    transition: transform 0.4s ease;
}

.services img:hover {
    transform: scale(1.05);
}

figcaption {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: var(--primary-color);
}

img[loading="lazy"] {
    animation: fade 10s;
}

footer {
	align-items: center;
    border-top: 2px solid var(--primary-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    margin-bottom: 0.8rem;
}

footer p {
        margin: 1rem;
    }

footer a {
        margin-left: 1rem;
    }

.sociallinks {
    display: flex;
}

.sociallinks img {
    width: 50px;
    padding: 10px;
}